{% extends "shop.html.twig" %}
{% block content %}
    <div align="right">
        <a class="text-white" href="{{ path('imen_afficherMesAnnonces')}}" >My announces</a>
    </div>
<div align="center">
        <h2 class="text-white mb-5"> Announcements List</h2>
        <tr><a href="{{ path('imen_ajouterAnnonceUser')}}" class="btn btn-primary " >Add Announce</a></tr><br><br>
        <tr><input class="form-control col-sm-3 mb-3"  type="text" id="mySearch" onkeyup="myFunction()" placeholder="Search.." title="Type in a category"></tr><br>
    </tr>
</div>


    <ul id="myMenu">
    {% for a in annonce %}
        <section  class="contact-section bg-gradient-light">
            <!--  -->

                <div class="container card py-4 h-100">
                    <div  class="card-body text-center">
                            <ul id="myMenu">
                                {% for a in annonce %}
                                    <div class="featured-text text-center text-lg-left" >
                                        <li> <a href="#{{ a.nomannonce }}"> {{ a.nomannonce }}</a> </h4>
                                            <div class="small text-black-50" align="right">{{a.dateannonce|date("d/m/Y") }}</div>
                                            <p class="text-dark mb-2">{{a.descriptionannonce }}</p>
                                            <div align="center"><a href="{{ path('imen_commenterAnnonce',{'id': a.id }) }}" class=" btn-light btn-sm  text-black-50 ">Comment</a></div>
                                            <br>
                                            <hr class="col-sm-11">
                                        </li>
                                    </div>
                                {% endfor %}
                            </ul>
                        </div>
                </div>
        </section>

    {% endfor %}
    </ul>

    <br>
    {{ knp_pagination_render(annonce) }}


    <script>
        function myFunction() {
            // Declare variables
            var input, filter, ul, li, a, i;
            input = document.getElementById("mySearch");
            filter = input.value.toUpperCase();
            ul = document.getElementById("myMenu");
            li = ul.getElementsByTagName("li");

            // Loop through all list items, and hide those who don't match the search query
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("a")[0];
                if (a.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                }
            }
        }
    </script>




{% endblock %}